@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Cairo:wght@200..1000&family=Kablammo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Cairo:wght@200..1000&family=Kablammo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: "Beiruti", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* messages */
.message {
    padding: 0 15%;
}
.message_title {
    padding: 5% 0 0 0 ;
    display: flex;
    justify-content: space-between;
}
.message_title h2 {
    color: #62a189;
    border-bottom: 1px solid #78db9e;
}
.message_body {
    padding: 5% 0 0 0;
}
.message_title {
    direction: rtl;
}
.message_body_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;

}
.message_body_title form button{
    padding: 10px 20px;
    border-radius: 10px ;
}
