/* my office */

.office {
    padding: 10% 15%;
}

.office_data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.office_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* السماح بالعناصر أن تكون في عدة أسطر */
    gap: 20px;
    /* تحديد المسافة بين العناصر */
}

.office_content {
    display: flex;
    flex-direction: row;
    /* ترتيب المحتوى عمودياً */
    align-items: center;
    justify-content: end;
    /* محاذاة المحتوى بشكل مركزي */
    background-color: #fafafa;
    padding: 15px;
    width: 560px;
    height: auto;
    border-radius: 8px;
    border-bottom: 2px solid #838383;
}

.office_img img {
    max-width: 250px;
    min-width: 250px;
    border-radius: 5px;
}

.office_titles {
    padding: 20px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    /* ترتيب العناوين عمودياً */
    height: auto;
    background-color: #fafafa;
    margin-bottom: 15px;
    width: 100%;
    /* المسافة بين المحتوى والصورة */
}

.office_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.office_titles_main {
    width: 100%;
}

.office_price {
    padding: 10% 0 0 0;
}

.office_header p {
    font-weight: 600;
    color: #4a794f;
    border-bottom: 1px solid #00ff2f;
}

.office_header h2 {
    color: #11400f;
}

.office_price h3 {
    color: #6ea078;
    font-size: 1.1rem;
    font-weight: 600;
}

.office_price_btn {
    padding: 15% 0 0 0;
}

.office_price_btn button {
    padding: 10px 20px;
    background-color: #4a794f;
    border: none;
    border-radius: 10px;
    margin: 5% 0 0 0;
}

.office_price_btn button a {
    color: #ffff;
}

@media screen and (max-width:1024px) {
    .bid_body ul li a {
        font-size: 1rem;
    }
    .office_content {
        display: flex;
        flex-direction: column;
        /* ترتيب المحتوى عمودياً */
        align-items: center;
        /* محاذاة المحتوى بشكل مركزي */
        background-color: #fafafa;
        padding: 15px;
        width: 275px;
        height: auto;
        border-radius: 8px;
    }
}

.renew-license {
    cursor: pointer;
    /* يظهر المؤشر عند مرور الماوس */
    background-color: green;
    /* تغيير اللون حسب الحالة */
    padding: 10px 20px;
    /* تحسين مظهر الزر */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    /* إضافة حواف مدورة */
    transition: background-color 0.3s ease;
    /* إضافة تأثير عند التمرير */
}

.renew-license:hover {
    background-color: darkgreen;
    /* تغيير اللون عند المرور بالماوس */
}

.renew-license:disabled {
    background-color: grey;
    /* اللون عند تعطيل الزر */
    cursor: not-allowed;
    /* تغيير المؤشر عند تعطيل الزر */
}


/* messages */

.message {
    padding: 2% 0 0 0;
    width: 100%;
}

.message_content {
    display: grid;
}

.message_title {
    display: flex;
    flex-wrap: wrap;
    gap: 0 70rem;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .message_title {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1rem;
        justify-content: space-between;
    }
}

.message_title h2 {
    color: #4a794f;
}

.message_btns button {
    border: 1px solid #4a794f;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 10px;
}

.message_btns button a {
    color: #4a794f;
    font-size: 1.1rem;
}

.message_body {
    width: 100%;
    margin: 2% 0 0 0;
}

.message_body_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.message_body_title button {
    border: 1px solid #4a794f;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 10px;
}

.message_box_bg_text {
    display: grid;
    justify-content: center;
    align-items: center;
}

.message_box_bg_text h1 {
    color: #4a794f;
}

.message_box_bg_text p {
    border-bottom: 1px solid #c5c5c5;
    margin: 0 0 20px 0;
    color: #8db490;
    font-size: 1.1rem;
    text-align: center;
}

.message_box_bg form {
    padding: 0 35%;
}

.message_box_bg_text {
    padding: 0 0 4% 0;
}

.message_box_title {
    width: 100%;
    direction: rtl;
    padding: 0 25%;
    margin: 5% 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_box_title_btn button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #71ad77;
    border: none;
    border-radius: 5px;
    transition: .5s ease all;
}

.message_box_title_btn button:hover {
    background-color: #55885a;
    transition: .5s ease all;
}

.message_box_title_btn button a {
    color: white;
    font-size: 1.1rem;
}

.message_box_title h2 {
    color: #6a856f;
    border-bottom: 1px solid #8ce794;
}


/* history */

.office_data {
    direction: rtl;
    justify-content: end;
}

.office_additions {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #131313;
    background-color: #dbdbdb;
    width: 300px;
    height: 100px;
    max-height: 57px;
    border-radius: 5px;
}

.office_additions_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.office_additions_all {
    padding: 10px 0 0 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.office_additions_history {
    display: flex;
    justify-content: end;
    align-items: center;
}

.office_additions_history p {
    color: #669496;
    border-bottom: 1px solid #8ad3cf;
}

.btn_replay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn_replay input {
    width: 130%;
    padding: 5px 0;
    margin: 10px 0 0 0;
}

.btn_replay button {
    margin: 0 0 0 10px;
    padding: 10px 20px;
    background-color: #87c58e;
    border: none;
    border-radius: 10px;
}

.btn_replay button a {
    color: white;
}

.btn_replay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_replay input {
    text-align: center;
}


/* products */

.products_title h3 {
    color: #6ea078;
    font-size: 2rem;
}

.products_bg_container {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.products_bg {
    padding: 15px;
    background-color: #dbdbdb;
    border-radius: 5px;
    width: 225px;
    height: 125px;
    max-width: 225px;
    max-height: 125px;
}

.products_bg_title h3 {
    font-size: 1.2rem;
    color: #71ad77;
}

.products_bg_area p {
    color: #374d36;
    border-bottom: 1px solid #5e925c;
    font-size: 1rem;
}

.products_bg_title {
    display: flex;
    justify-content: space-between;
}

.products_bg_des div p {
    padding: 10px 0 0 0;
    color: #797979;
    font-size: 1rem;
}

.products_bg_des {
    display: grid;
    align-items: center;
}

.products_bg_btn button {
    background-color: #374d36;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.products_bg_des div {
    display: flex;
    justify-content: space-between;
}

.products_bg_btn {
    padding: 10px 0 0 0;
}

.products_bg_btn button a {
    color: white;
}

.bid_title h1 {
    color: #357c32;
}


/* icons */

.office_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_icons_title {
    cursor: pointer;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
}

.my_icons_img {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_icons_img img {
    cursor: pointer;
    width: 100px;
    padding: 30px 0 0 0;
    max-width: 100px;
}

.my_icons_title_bg {
    display: flex;
    justify-content: center;
    align-content: center;
}

.my_icons_title_bg button {
    cursor: pointer;
    margin: 10px 0 0 0;
    background-color: #477575;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.my_icons_title_bg h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.my_icons_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
/* beard */
.beard_cn{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.beard_bg{
    width: 200px;
    height: 200px;
    background: #e7e7e7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.beard_bg_img img {
    max-width: 75px;
    width: 75px;
}
.beard_bg_title h3{
    text-align: center;
    font-size: 1.3rem;
    color: #012e01;
}
